.blogs {
    background-color: white;
    padding-top: 88px;
    padding-bottom: 80px;
}

.blogs h2 {
    margin-bottom: 23px;
}

.blogs p {
    margin-bottom: 71px;
}


.container-blogs {
    background-color: #231F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.article {
    margin: 63px 176px 49px 100px;
}

.article span {
    font-size: 14px;
    line-height: 1.4;
    color: #FFFFFF;

}

.article h2 {
    font-size: 48px;
    line-height: 1.21;
    color: #FFFFFF;
    margin-bottom: 60px;
    margin-top: 27px;
}

.article a {
    font-size: 18px;
    line-height: 1.4;
    color: #FFFFFF;
    margin-bottom: 49px;
}

.blog-article {
    display: flex;
    justify-content: space-between;
}

.blog-article h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.blog-article p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.blog-article a {
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
}

.block-card {
    padding: 49px;
    margin-right: 30px;
}

.block-card:last-child {
    margin-right: 0;
}

.block-card:hover {
    background: #FFFFFF;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.5s;
}