@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    font-display: swap;
    src: url("fonts/Gilroy-ExtraBold.woff2") format('woff2'),
         url("fonts/Gilroy-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Gilroy-Light.woff2") format('woff2'),
    url("fonts/Gilroy-Light.woff") format('woff');
}