body {
    font-family: Gilroy, sans-serif;
    background-color: #F1F1F2;
}

.container {
    width: 1172px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    padding: 14px 24px;
}

.text {
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
}

.button-filled {
    background-color: #F7941E;
    color: white;
}

.title {
    font-size: 32px;
    line-height: 1.4;
    color: #000000;
}

.aling-center {
    text-align: center;
}

