header {
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: #FAFAFA;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

}

.header-nav {
    display: flex;

}

.header-nav li {
    margin-right: 31px;
}

.header-nav li:last-child {
    margin-right: 0;
}

.header-nav a {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
}

